.parent {
  /* margin:15vh auto; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 50vw;
  height: 70vh; */
  /* box-shadow: 3px 3px 9px grey; */
}
@media (max-width: 572px) {
 .parent{
   display: flex;
   flex-direction: column;
   align-items: center;
 }
}