.parent {
  width: 50vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.input-div span {
  font-weight: bold;
}
.input-div input {
  color: #0000cc;
  font-weight: 500;
  margin-left: 20px;
}

.error {
  color: red;
  text-align: center;
  font-weight: 500;
  margin-left: 87px;
  position: absolute;
}

@media (max-width: 572px) {
  .parent {
    width: 100vw;
  }
}
@media (max-width: 360px) {
  .input-div input {
    width: 132px;
  }
}
